n8n-import/workflows/export_20260202_005844/20260202_005844_Webhook-call-handler-orez.json
[{"updatedAt":"2026-01-30T20:56:02.947Z","createdAt":"2026-01-25T22:46:34.025Z","id":"Om7FNF9R9vViKmS6CoOFB","name":"Webhook-call-handler-orez","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"id","type":"number"},{"name":"user_id","type":"number"},{"name":"action"},{"name":"entity_type"},{"name":"entity_id","type":"number"},{"name":"categories","type":"any"},{"name":"entity","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1056,-128],"id":"fa73b86c-9f12-497d-bc0d-f1275653e611","name":"When Executed by Another Workflow"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.action }}","rightValue":"application_authorization_revoked","operator":{"type":"string","operation":"equals"},"id":"a23e0df9-a8dc-4a79-b6d0-d34b442376fe"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"36cd2104-3d42-4ab6-9847-db9bb32a984a","leftValue":"={{ $json.action }}","rightValue":"entity_create","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b97956e0-9b46-465d-ae49-77bd67c39954","leftValue":"={{ $json.action }}","rightValue":"- entity_update","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a9b38dd7-fc3f-4628-afd1-a1e962f26dc7","leftValue":"={{ $json.action }}","rightValue":"entity_delete","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e49ea97a-0d42-43e4-8b24-e61199d98d1f","leftValue":"={{ $json.action }}","rightValue":"webhook_test","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[-640,-128],"id":"e4a8176f-b1af-4861-89a1-3639e1ba8388","name":"Switch"},{"parameters":{"resource":"credential","operation":"delete","credentialId":"ofNRFMLYjwE6vVPR","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-32,-128],"id":"288c1e57-2740-42bf-ad7b-43a0e95bb85a","name":"Delete a credential"},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-256,-128],"id":"75c666a5-01fb-49ff-ace2-9a54043847e0","name":"Select rows from a table"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Select rows from a table","type":"main","index":0}]]},"Select rows from a table":{"main":[[{"node":"Delete a credential","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"afbf7f21-4b9d-40cd-b10e-cdb62aac270f","activeVersionId":null,"versionCounter":78,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-01-25T22:46:34.025Z","createdAt":"2026-01-25T22:46:34.025Z","role":"workflow:owner","workflowId":"Om7FNF9R9vViKmS6CoOFB","projectId":"vUahvjFlrpBAdiIw","project":{"updatedAt":"2026-01-25T22:40:34.965Z","createdAt":"2026-01-25T22:36:36.266Z","id":"vUahvjFlrpBAdiIw","name":"SWARNA RAHMAN <dp.rahman@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8423da70-c607-4933-9c9a-d2c97d2ea3f6"}}]}]
