n8n-import/workflows/export_20260202_005844/20260202_005844_Tests---Service-Worker-Template-Exec-Trigger-E2E.json
[
    {
        "updatedAt": "2026-02-01T04:16:34.033Z",
        "createdAt": "2026-02-01T00:21:34.570Z",
        "id": "XLkJRbYHjjmJcVAvj9LZw",
        "name": "Tests - Service Worker Template (Exec Trigger) E2E",
        "description": null,
        "active": false,
        "isArchived": false,
        "nodes": [
            {
                "parameters": {
                    "content": "## Service Worker Template (Exec Trigger) E2E Tests\n\n**Before running:**\n1) Import `service-worker-template-generic-longtask-exec.json`\n2) Set `worker_workflow_id` in **Init Test Context** to that workflow's ID\n3) Ensure Postgres is running with `secure_task_scheduler.sql` installed\n4) Configure Postgres credentials for all DB nodes (Worker PostgreSQL)\n\n**What this tests:**\n- enqueue tasks\n- execute worker subworkflow 3 times\n- verify tasks are completed\n\n**Output:** Final node returns a summary with per-test results.",
                    "height": 300,
                    "width": 500,
                    "color": 2
                },
                "id": "38f6fed2-0a53-43f6-ab90-e3d70f9bb34b",
                "name": "Sticky Note",
                "type": "n8n-nodes-base.stickyNote",
                "typeVersion": 1,
                "position": [
                    528,
                    -128
                ]
            },
            {
                "parameters": {},
                "id": "c693b5e6-d398-4e62-8697-5bc25fdd5283",
                "name": "Manual Trigger",
                "type": "n8n-nodes-base.manualTrigger",
                "typeVersion": 1,
                "position": [
                    608,
                    208
                ]
            },
            {
                "parameters": {
                    "jsCode": "const runId = new Date().toISOString();\nconst runIdSafe = runId.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\nconst queueName = `test_queue_${runIdSafe.slice(0, 24)}`;\nconst workerId = `test_worker_${runIdSafe.slice(0, 24)}`;\nconst workerName = `Test Worker ${runId}`;\n\nconst context = {\n  run_id: runId,\n  worker_workflow_id: 'gAaVz2ymEGWty1PfRrhY2',\n  queue_name: queueName,\n  worker_id: workerId,\n  worker_name: workerName,\n  api_key: null,\n  task_uuid_a: null,\n  task_uuid_long: null,\n  task_uuid_b: null,\n  results: []\n};\n\nreturn [{ json: { context } }];"
                },
                "id": "75f1223d-e4e3-40c2-8937-672aa498f96e",
                "name": "Init Test Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    816,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT create_queue('{{ $json.context.queue_name }}', '{{ 'Test queue for run ' + $json.context.run_id }}') AS create_queue;",
                    "options": {}
                },
                "id": "8f22280f-a8ec-4b27-af0d-b1b94eb35681",
                "name": "Create Queue",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    1008,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('Init Test Context')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst ok = result.create_queue === true || result.create_queue === 't' || result.create_queue === 1;\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'create_queue',\n  success: ok && !error,\n  expected: 'create_queue returns true',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, results: [...prev.results, testResult] };\n\nreturn [{ json: { context } }];"
                },
                "id": "f705e909-0a17-4efe-b054-ba327b8a6a14",
                "name": "After Create Queue",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1216,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT * FROM register_worker('{{ $json.context.worker_id }}', '{{ $json.context.worker_name }}', 3, '30 seconds'::INTERVAL, to_jsonb(ARRAY['default', '{{ $json.context.queue_name }}']::text[]));",
                    "options": {}
                },
                "id": "ef8740b0-4663-4026-a6cd-dee4cf9a0fa8",
                "name": "Register Worker",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    1408,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('After Create Queue')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst apiKey = result.api_key || null;\nconst ok = !!apiKey;\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'register_worker',\n  success: ok && !error,\n  expected: 'api_key returned from register_worker',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, api_key: apiKey || prev.api_key, results: [...prev.results, testResult] };\n\nreturn [{ json: { context } }];"
                },
                "id": "3a258020-1ef8-41e7-8204-5c3f0eb4e421",
                "name": "After Register Worker",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    1616,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT enqueue_task(\n  p_api_key := '{{ $json.context.api_key }}',\n  p_task_name := 'task_example_a',\n  p_task_data := to_jsonb(json_build_object('run_id', '{{ $json.context.run_id }}', 'test', 'task_a')),\n  p_priority := 10,\n  p_queue_name := '{{ $json.context.queue_name }}'\n) AS task_uuid;",
                    "options": {}
                },
                "id": "daa21b5c-285e-4ec9-a8ae-7e2d18b9a118",
                "name": "Enqueue Task A",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    1808,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('After Register Worker')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst taskUuid = result.task_uuid || result.enqueue_task || null;\nconst ok = typeof taskUuid === 'string' && taskUuid.length >= 10;\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'enqueue_task_a',\n  success: ok && !error,\n  expected: 'enqueue_task returns uuid',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, task_uuid_a: taskUuid, results: [...prev.results, testResult] };\n\nreturn [{ json: { context } }];"
                },
                "id": "fe1899ff-4b01-40b6-8e28-e22a2c06ac31",
                "name": "After Enqueue Task A",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2016,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT enqueue_task(\n  p_api_key := '{{ $json.context.api_key }}',\n  p_task_name := 'task_long_batch',\n  p_task_data := to_jsonb(json_build_object(\n    'run_id', '{{ $json.context.run_id }}',\n    'units', json_build_array(1,2,3,4,5),\n    'batchSize', 2,\n    'leaseBufferMs', 2000,\n    'extendByInterval', '5 minutes'\n  )),\n  p_priority := 20,\n  p_queue_name := '{{ $json.context.queue_name }}'\n) AS task_uuid;",
                    "options": {}
                },
                "id": "66de7680-10f2-4e53-ad25-e64fc6b87a64",
                "name": "Enqueue Long Task",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2208,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('After Enqueue Task A')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst taskUuid = result.task_uuid || result.enqueue_task || null;\nconst ok = typeof taskUuid === 'string' && taskUuid.length >= 10;\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'enqueue_task_long',\n  success: ok && !error,\n  expected: 'enqueue_task returns uuid (long task)',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, task_uuid_long: taskUuid, results: [...prev.results, testResult] };\n\nreturn [{ json: { context } }];"
                },
                "id": "08325cc7-af3d-4acd-9b74-936e03c28da5",
                "name": "After Enqueue Long Task",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2416,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT enqueue_task(\n  p_api_key := '{{ $json.context.api_key }}',\n  p_task_name := 'task_example_b',\n  p_task_data := to_jsonb(json_build_object('run_id', '{{ $json.context.run_id }}', 'test', 'task_b')),\n  p_priority := 5,\n  p_queue_name := '{{ $json.context.queue_name }}'\n) AS task_uuid;",
                    "options": {}
                },
                "id": "7af4ccba-9b29-4e37-beed-1fd4a8476739",
                "name": "Enqueue Task B",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    2608,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('After Enqueue Long Task')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst taskUuid = result.task_uuid || result.enqueue_task || null;\nconst ok = typeof taskUuid === 'string' && taskUuid.length >= 10;\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'enqueue_task_b',\n  success: ok && !error,\n  expected: 'enqueue_task returns uuid (task B)',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, task_uuid_b: taskUuid, results: [...prev.results, testResult] };\n\nreturn [{ json: { context } }];"
                },
                "id": "3a795a52-db3d-4b48-84be-710fd7d1db97",
                "name": "After Enqueue Task B",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    2816,
                    208
                ]
            },
            {
                "parameters": {
                    "jsCode": "const context = $items('After Enqueue Task B')[0].json.context;\nreturn [{\n  json: {\n    context,\n    serviceId: context.worker_id,\n    apiKey: context.api_key,\n    queueNames: [context.queue_name],\n    leaseDuration: '1 minute',\n    pollWaitMs: 0,\n    heartbeatEveryMs: 0,\n    heartbeatInterval: '30 seconds',\n    currentLoad: 0\n  }\n}];"
                },
                "id": "2c0c78af-8b98-4df6-bd71-1518cf5bbb3a",
                "name": "Prepare Worker Input 1",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3008,
                    208
                ]
            },
            {
                "parameters": {
                    "workflowId": "={{ $json.context.worker_workflow_id }}",
                    "options": {}
                },
                "id": "6508e8f4-c99f-4978-82a3-53d547a8dabd",
                "name": "Call Worker Run 1",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1,
                "position": [
                    3216,
                    208
                ],
                "alwaysOutputData": true,
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const context = $items('After Enqueue Task B')[0].json.context;\nreturn [{\n  json: {\n    context,\n    serviceId: context.worker_id,\n    apiKey: context.api_key,\n    queueNames: [context.queue_name],\n    leaseDuration: '1 minute',\n    pollWaitMs: 0,\n    heartbeatEveryMs: 0,\n    heartbeatInterval: '30 seconds',\n    currentLoad: 0\n  }\n}];"
                },
                "id": "113214ce-2072-487c-b4ce-e409de77d148",
                "name": "Prepare Worker Input 2",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3408,
                    208
                ]
            },
            {
                "parameters": {
                    "workflowId": "={{ $json.context.worker_workflow_id }}",
                    "options": {}
                },
                "id": "9897c384-3658-478d-b86a-a448730433b1",
                "name": "Call Worker Run 2",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1,
                "position": [
                    3616,
                    208
                ],
                "alwaysOutputData": true,
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const context = $items('After Enqueue Task B')[0].json.context;\nreturn [{\n  json: {\n    context,\n    serviceId: context.worker_id,\n    apiKey: context.api_key,\n    queueNames: [context.queue_name],\n    leaseDuration: '1 minute',\n    pollWaitMs: 0,\n    heartbeatEveryMs: 0,\n    heartbeatInterval: '30 seconds',\n    currentLoad: 0\n  }\n}];"
                },
                "id": "153e3f91-2e6b-411f-bf96-833a9e0c8f64",
                "name": "Prepare Worker Input 3",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    3808,
                    208
                ]
            },
            {
                "parameters": {
                    "workflowId": "={{ $json.context.worker_workflow_id }}",
                    "options": {}
                },
                "id": "638c660f-53fe-418d-b9b7-acfac9cb237e",
                "name": "Call Worker Run 3",
                "type": "n8n-nodes-base.executeWorkflow",
                "typeVersion": 1,
                "position": [
                    4016,
                    208
                ],
                "alwaysOutputData": true,
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const context = $items('After Enqueue Task B')[0].json.context;\nreturn [{ json: { context } }];"
                },
                "id": "b21d2411-5a95-4c01-ba60-cbeb6de5d20d",
                "name": "Rehydrate Context",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    4208,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT id, task_uuid, status, last_error FROM task_queue WHERE task_uuid = '{{ $json.context.task_uuid_a }}'::UUID;",
                    "options": {}
                },
                "id": "a62a8ee5-cf8b-49ed-854a-326edb7c8732",
                "name": "Get Task A Status",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    4416,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('Rehydrate Context')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst ok = result.status === 'completed';\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'task_example_a_status',\n  success: ok && !error,\n  expected: 'status completed',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, results: [...prev.results, testResult] };\nreturn [{ json: { context } }];"
                },
                "id": "932f4a81-a280-4429-a59c-ff9b072fcb07",
                "name": "After Task A Status",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    4608,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT id, task_uuid, status, last_error FROM task_queue WHERE task_uuid = '{{ $json.context.task_uuid_long }}'::UUID;",
                    "options": {}
                },
                "id": "f3d5ca9b-9b3a-44e6-bb86-4edb25ec08d9",
                "name": "Get Long Task Status",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    4816,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('After Task A Status')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst ok = result.status === 'completed';\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'task_long_batch_status',\n  success: ok && !error,\n  expected: 'status completed',\n  actual: result,\n  error\n};\n\nconst context = { ...prev, results: [...prev.results, testResult] };\nreturn [{ json: { context } }];"
                },
                "id": "0661dae9-5305-47a3-ad87-d393dec34ffa",
                "name": "After Long Task Status",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    5008,
                    208
                ]
            },
            {
                "parameters": {
                    "operation": "executeQuery",
                    "query": "SELECT id, task_uuid, status, last_error FROM task_queue WHERE task_uuid = '{{ $json.context.task_uuid_b }}'::UUID;",
                    "options": {}
                },
                "id": "efe997bd-67d2-4435-ac20-f0ed729b96f4",
                "name": "Get Task B Status",
                "type": "n8n-nodes-base.postgres",
                "typeVersion": 2.5,
                "position": [
                    5216,
                    208
                ],
                "credentials": {
                    "postgres": {
                        "id": "DaS7mZvyZ9LN6V5S",
                        "name": "Postgress-n8n-db"
                    }
                },
                "continueOnFail": true
            },
            {
                "parameters": {
                    "jsCode": "const prev = $items('After Long Task Status')[0].json.context;\nconst result = $input.all()[0]?.json ?? {};\nconst ok = result.status === 'completed';\nconst error = result.error || result.message || null;\n\nconst testResult = {\n  name: 'task_example_b_status',\n  success: ok && !error,\n  expected: 'status completed',\n  actual: result,\n  error\n};\n\nconst results = [...prev.results, testResult];\nconst passed = results.filter(r => r.success).length;\nconst failed = results.length - passed;\n\nreturn [{\n  json: {\n    run_id: prev.run_id,\n    queue_name: prev.queue_name,\n    worker_id: prev.worker_id,\n    api_key_prefix: prev.api_key ? String(prev.api_key).slice(0, 10) : null,\n    summary: { total: results.length, passed, failed },\n    results\n  }\n}];"
                },
                "id": "6a3347a5-19e4-4932-9315-abd9d0a700c4",
                "name": "Finalize Results",
                "type": "n8n-nodes-base.code",
                "typeVersion": 2,
                "position": [
                    5408,
                    208
                ]
            }
        ],
        "connections": {
            "Manual Trigger": {
                "main": [
                    [
                        {
                            "node": "Init Test Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Init Test Context": {
                "main": [
                    [
                        {
                            "node": "Create Queue",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Create Queue": {
                "main": [
                    [
                        {
                            "node": "After Create Queue",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Create Queue": {
                "main": [
                    [
                        {
                            "node": "Register Worker",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Register Worker": {
                "main": [
                    [
                        {
                            "node": "After Register Worker",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Register Worker": {
                "main": [
                    [
                        {
                            "node": "Enqueue Task A",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Enqueue Task A": {
                "main": [
                    [
                        {
                            "node": "After Enqueue Task A",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Enqueue Task A": {
                "main": [
                    [
                        {
                            "node": "Enqueue Long Task",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Enqueue Long Task": {
                "main": [
                    [
                        {
                            "node": "After Enqueue Long Task",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Enqueue Long Task": {
                "main": [
                    [
                        {
                            "node": "Enqueue Task B",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Enqueue Task B": {
                "main": [
                    [
                        {
                            "node": "After Enqueue Task B",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Enqueue Task B": {
                "main": [
                    [
                        {
                            "node": "Prepare Worker Input 1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Worker Input 1": {
                "main": [
                    [
                        {
                            "node": "Call Worker Run 1",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call Worker Run 1": {
                "main": [
                    [
                        {
                            "node": "Prepare Worker Input 2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Worker Input 2": {
                "main": [
                    [
                        {
                            "node": "Call Worker Run 2",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call Worker Run 2": {
                "main": [
                    [
                        {
                            "node": "Prepare Worker Input 3",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Prepare Worker Input 3": {
                "main": [
                    [
                        {
                            "node": "Call Worker Run 3",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Call Worker Run 3": {
                "main": [
                    [
                        {
                            "node": "Rehydrate Context",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Rehydrate Context": {
                "main": [
                    [
                        {
                            "node": "Get Task A Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Task A Status": {
                "main": [
                    [
                        {
                            "node": "After Task A Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Task A Status": {
                "main": [
                    [
                        {
                            "node": "Get Long Task Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Long Task Status": {
                "main": [
                    [
                        {
                            "node": "After Long Task Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "After Long Task Status": {
                "main": [
                    [
                        {
                            "node": "Get Task B Status",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Get Task B Status": {
                "main": [
                    [
                        {
                            "node": "Finalize Results",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "settings": {
            "executionOrder": "v1",
            "availableInMCP": false
        },
        "staticData": null,
        "meta": {
            "templateCredsSetupCompleted": true
        },
        "pinData": {},
        "versionId": "54832042-78bc-4662-883f-19734b25fd89",
        "activeVersionId": null,
        "versionCounter": 13,
        "triggerCount": 0,
        "tags": [
            {
                "updatedAt": "2026-01-31T23:25:50.416Z",
                "createdAt": "2026-01-31T23:25:50.416Z",
                "id": "Vj3cv1bZRkaJIGkG",
                "name": "template"
            },
            {
                "updatedAt": "2026-01-31T23:25:50.428Z",
                "createdAt": "2026-01-31T23:25:50.428Z",
                "id": "nSfiasOgScwoCiY4",
                "name": "long-task"
            },
            {
                "updatedAt": "2026-01-31T23:25:50.434Z",
                "createdAt": "2026-01-31T23:25:50.434Z",
                "id": "2pSy7ZEqWNOk7SLV",
                "name": "service-worker"
            },
            {
                "updatedAt": "2026-02-01T00:21:32.881Z",
                "createdAt": "2026-02-01T00:21:32.881Z",
                "id": "jL6Wm80B8XwwwSrB",
                "name": "exec-trigger"
            }
        ],
        "shared": [
            {
                "updatedAt": "2026-02-01T00:21:34.570Z",
                "createdAt": "2026-02-01T00:21:34.570Z",
                "role": "workflow:owner",
                "workflowId": "XLkJRbYHjjmJcVAvj9LZw",
                "projectId": "vUahvjFlrpBAdiIw",
                "project": {
                    "updatedAt": "2026-01-25T22:40:34.965Z",
                    "createdAt": "2026-01-25T22:36:36.266Z",
                    "id": "vUahvjFlrpBAdiIw",
                    "name": "SWARNA RAHMAN <dp.rahman@gmail.com>",
                    "type": "personal",
                    "icon": null,
                    "description": null,
                    "creatorId": "8423da70-c607-4933-9c9a-d2c97d2ea3f6"
                }
            }
        ]
    }
]