n8n-import/workflows/service-worker-template.json
{
  "name": "service-worker-template",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gNZLL3CbPI07V54VKTlvC",
          "mode": "list",
          "cachedResultUrl": "/workflow/gNZLL3CbPI07V54VKTlvC",
          "cachedResultName": "subW get worker metadata"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "5c68c9fe-1c8f-4532-9ef3-27ec852f6c1e",
      "name": "Call 'subW get worker metadata'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc865198-1112-48fb-be91-5025df29b550",
              "leftValue": "={{ $json.metadata.shutdown_requested }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "213c27f1-d877-4735-85d7-f074bd448ebd",
              "leftValue": "={{ $json.metadata.shutdown_requested }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "75253897-0e6f-49df-b279-ef9550f8db03",
      "name": "not shutdown"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data (items array from n8n)\nconst items = $input.all();  // This will be the array of items passed to the code node\n\n// Iterate over each item in the input data\nitems.forEach(item => {\n  // Check if shutdown_requested is true\n  if (item.json.metadata.shutdown_requested === true) {\n    console.log(\"Shutdown Requested\");\n    // Check if graceful shutdown is enabled\n    if (item.json.metadata.worker_gracefull_shutdown) {\n      try {\n        console.log(\"Graceful shoutdown\");\n        const fs = require('fs');\n        const shutdownFile = '/tmp/worker_shutdown_' + item.json.metadata.worker_id;\n        console.log(shutdownFile);\n        // If the shutdown signal file exists, clear it\n        if (fs.existsSync(shutdownFile)) {\n          fs.unlinkSync(shutdownFile);\n          console.log('✓ Shutdown signal file cleared');\n          \n          // Optionally, set shutdown_requested to false or another value if needed after clearing the file\n          // For now, we leave it as true, assuming once it is requested, it remains true\n        }\n      } catch (e) {\n        console.error('Failed to clear shutdown signal:', e.message);\n      }\n    }\n  }\n});\n\n// Return the updated items\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        96
      ],
      "id": "378b9864-3ebf-4af9-b57a-70f8f0839f1f",
      "name": "graceful shutdown"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f3fd72a-b94c-426f-94ea-6f2fa5b174c4",
              "leftValue": "={{ $json.metadata.heartbeat_needed }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "2c3cac90-5ed1-4b4c-b5ce-4aa1f6188b56",
              "leftValue": "={{ $json.metadata.heartbeat_needed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1360,
        -112
      ],
      "id": "dfc3dec1-9778-4396-8ae9-265c2091079a",
      "name": "no need heartbeat"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data (items array from n8n)\nconst items = $input.all();  // This will be the array of items passed to the code node\n\n// Get the current time (in milliseconds)\nconst currentTime = Date.now();\n\n// Iterate over each item in the input data\nitems.forEach(item => {\n  const metadata = item.json.metadata;\n\n  // Ensure necessary fields are available\n  if (metadata && metadata.heartbeat_interval && metadata.last_seen_at) {\n    // Convert heartbeat_interval from seconds to milliseconds\n    const heartbeatIntervalMs = metadata.heartbeat_interval.seconds * 1000;\n\n    // Convert last_seen_at to a timestamp\n    const lastSeenAtMs = new Date(metadata.last_seen_at).getTime();\n\n    // Calculate the time difference in milliseconds\n    const timeDiffMs = currentTime - lastSeenAtMs;\n\n    // If the time difference exceeds the heartbeat interval, set heartbeat_needed to true\n    if (timeDiffMs >= heartbeatIntervalMs) {\n      item.json.metadata.heartbeat_needed = true;\n    } else {\n      item.json.metadata.heartbeat_needed = false;\n    }\n  }\n});\n\n// Return the updated items\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -112
      ],
      "id": "0a8a4c6b-8a63-4cf8-8846-3111bb426b40",
      "name": "hearbeat check"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT worker_heartbeat('{{ $json.metadata.api_key }}');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1568,
        -16
      ],
      "id": "be020cec-cf29-4fdd-a58f-441e1ae062d0",
      "name": "send hearbeat",
      "credentials": {
        "postgres": {
          "id": "WWSlgNwWnnhIhoMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the input data (items array from n8n)\nconst items = $input.all();  // This will be the array of items passed to the code node\n\n// Iterate over each item in the input data\nitems.forEach(item => {\n  // Graceful shutdown file check (optional)\n  let shutdownRequested = false;\n  if (String(item.json.metadata.worker_gracefull_shutdown).toLowerCase() === 'true' || item.json.metadata.worker_gracefull_shutdown === true) {\n    try {\n      const fs = require('fs');\n      shutdownRequested = fs.existsSync(`/tmp/worker_shutdown_${item.json.metadata.worker_id}`);\n    } catch (e) {\n      // ignore\n    }\n  }\n\n  // Only set shutdown_requested if the condition is true\n  if (shutdownRequested) {\n    item.json.metadata.shutdown_requested = true;\n  }\n});\n\n// Return the updated items\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "470808d2-1e76-4256-9146-0bdd9cb201fc",
      "name": "check graceful shutdown"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "77f89c9f-ce8e-437e-bdac-63535dac2efe",
      "name": "metadata"
    },
    {
      "parameters": {
        "jsCode": "const metadata = $('metadata').item.json.metadata;\nconsole.log(metadata.api_key)\n\nlet data = {};\ndata.api_key = metadata.api_key;\ndata.worker_id = metadata.worker_id;\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1776,
        -16
      ],
      "id": "cf754048-7233-4d42-92c5-cfa9a935228a",
      "name": "worker-api-data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "6fcs_uGq0D7cLzAVv7yEk",
          "mode": "list",
          "cachedResultUrl": "/workflow/6fcs_uGq0D7cLzAVv7yEk",
          "cachedResultName": "subW build worker object"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "worker_id",
              "displayName": "worker_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "api_key",
              "displayName": "api_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        -16
      ],
      "id": "ec1f1ce9-c92d-4e4b-9428-73f6521116c9",
      "name": "Call 'subW get worker metadata'1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "df2CmoxWTZFsHblh",
          "mode": "list",
          "cachedResultUrl": "/workflow/df2CmoxWTZFsHblh",
          "cachedResultName": "subW Metadata Formatter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2192,
        -16
      ],
      "id": "94a4d78e-bfaf-4aaa-a263-3223e64896df",
      "name": "Call 'subW Metadata Formatter'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2ypbt4vHErHfRNCgt6TEp",
          "mode": "list",
          "cachedResultUrl": "/workflow/2ypbt4vHErHfRNCgt6TEp",
          "cachedResultName": "subW set worker metadata"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "metadata"
          ],
          "schema": [
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2400,
        -16
      ],
      "id": "f6edde18-3952-419a-afc7-a96760543734",
      "name": "Call 'subW set worker metadata'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM dequeue_task(\n  '{{ $json.metadata.api_key }}',\n  '{{ $json.metadata.default_lease_duration }}'::INTERVAL,\n  ARRAY[{{ $json.metadata.subscribed_queues.map(q => \"'\" + q + \"'\").join(\",\") }}]\n) AS task;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2592,
        -128
      ],
      "id": "00cabdd8-7564-428e-9143-5591c0b123f1",
      "name": "poll task",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "WWSlgNwWnnhIhoMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "TWOwWbOPOH6uGsLJuE-0l",
          "mode": "list",
          "cachedResultUrl": "/workflow/TWOwWbOPOH6uGsLJuE-0l",
          "cachedResultName": "subW app log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        3072,
        -112
      ],
      "id": "aa99d6ff-41c6-415b-af81-0f5a0cf41205",
      "name": "Call 'subW app log'"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n      \"level\": \"DEBUG\",\n      \"message\": \"Polled Task\",\n      \"source\": \"\",\n      \"user_id\": \"\",\n      \"error_code\": \"\",\n      \"error_stack\": \"\",\n      \"metadata\": {{ $json }}\n    }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2800,
        -128
      ],
      "id": "b67bb28d-e8ed-4300-9385-322217a8be80",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        0
      ],
      "id": "9f22703f-f789-424a-98d2-0c33d3c416b8",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "worker_id": "test-worker-000"
        }
      }
    ]
  },
  "connections": {
    "Call 'subW get worker metadata'": {
      "main": [
        [
          {
            "node": "metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "not shutdown": {
      "main": [
        [
          {
            "node": "hearbeat check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "graceful shutdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "no need heartbeat": {
      "main": [
        [
          {
            "node": "poll task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send hearbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hearbeat check": {
      "main": [
        [
          {
            "node": "no need heartbeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check graceful shutdown": {
      "main": [
        [
          {
            "node": "not shutdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "metadata": {
      "main": [
        [
          {
            "node": "check graceful shutdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send hearbeat": {
      "main": [
        [
          {
            "node": "worker-api-data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "worker-api-data": {
      "main": [
        [
          {
            "node": "Call 'subW get worker metadata'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subW get worker metadata'1": {
      "main": [
        [
          {
            "node": "Call 'subW Metadata Formatter'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subW Metadata Formatter'": {
      "main": [
        [
          {
            "node": "Call 'subW set worker metadata'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'subW set worker metadata'": {
      "main": [
        [
          {
            "node": "poll task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "poll task": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        []
      ]
    },
    "Call 'subW app log'": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fbaf61f0-9b85-48c3-acac-a36bce5ef496",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f94ee6675052c2b68be0785e7c4c1b60b0426d14c775c213c4e38fd0abd72c74"
  },
  "id": "bsydtsqITEx3i3i5D3i81",
  "tags": []
}