n8n-import/workflows/subW app log.json
{
  "name": "subW app log",
  "nodes": [
    {
      "parameters": {},
      "id": "0dff7af6-858c-44d7-91a1-1acc45962709",
      "name": "🧩 Triggered by Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        560
      ],
      "notes": "Call this workflow from another workflow via Execute Workflow node. Input JSON: { level, message, source, metadata, error_code, error_stack, user_id, request_id, ip_address }"
    },
    {
      "parameters": {
        "jsCode": "// ── Validate & Normalize Incoming Log Payload ───────────────\nconst VALID_LEVELS = ['DEBUG', 'INFO', 'WARN', 'ERROR', 'FATAL'];\n\nconst input = $input.first().json;\nconst body = input.body ?? input;\nconst headers = input.headers ?? {};\n\n// ── Required field check ─────────────────────────────────────\nif (!body.message || typeof body.message !== 'string' || body.message.trim() === '') {\n  throw new Error('Validation failed: `message` is required and must be a non-empty string.');\n}\n\n// ── Normalize level ──────────────────────────────────────────\nconst rawLevel = (body.level ?? 'INFO').toString().toUpperCase().trim();\nconst level = VALID_LEVELS.includes(rawLevel) ? rawLevel : 'INFO';\n\n// ── Normalize client IP (first forwarded hop only) ───────────\nconst forwardedHeader =\n  headers['x-forwarded-for']\n  ?? headers['X-Forwarded-For']\n  ?? headers['x-real-ip']\n  ?? headers['X-Real-IP']\n  ?? null;\n\nconst forwardedValue = Array.isArray(forwardedHeader) ? forwardedHeader[0] : forwardedHeader;\nlet ipAddress = null;\n\nif (typeof forwardedValue === 'string' && forwardedValue.trim() !== '') {\n  const firstHop = forwardedValue.split(',')[0].trim();\n  const ipv4WithPort = firstHop.match(/^(\\d{1,3}(?:\\.\\d{1,3}){3}):\\d+$/);\n  const bracketedIpv6 = firstHop.match(/^\\[([0-9a-fA-F:]+)\\](?::\\d+)?$/);\n\n  if (ipv4WithPort) {\n    ipAddress = ipv4WithPort[1];\n  } else if (bracketedIpv6) {\n    ipAddress = bracketedIpv6[1];\n  } else {\n    ipAddress = firstHop;\n  }\n}\n\n// ── Extract execution context injected by n8n ────────────────\nconst execId   = $execution?.id   ?? null;\nconst wfId     = $workflow?.id    ?? null;\nconst wfName   = $workflow?.name  ?? null;\n\n// ── Build clean log entry ────────────────────────────────────\nconst logEntry = {\n  level,\n  message:       body.message.trim().substring(0, 5000),\n  source:        (body.source ?? 'n8n').toString().substring(0, 100),\n  workflow_id:   wfId,\n  workflow_name: wfName,\n  execution_id:  execId,\n  metadata:      (body.metadata && typeof body.metadata === 'object' && !Array.isArray(body.metadata)) ? body.metadata : {},\n  error_code:    body.error_code  ?? null,\n  error_stack:   body.error_stack ?? null,\n  request_id:    body.request_id  ?? null,\n  user_id:       body.user_id     ?? null,\n  ip_address:    ipAddress\n};\n\nreturn [{ json: logEntry }];"
      },
      "id": "6bcb46e5-70fe-4fbb-bef0-e8f1ba597e46",
      "name": "🔍 Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-error",
              "leftValue": "={{ $json.level }}",
              "rightValue": "ERROR",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "is-fatal",
              "leftValue": "={{ $json.level }}",
              "rightValue": "FATAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "7b2d2a7f-e2c6-40df-80bc-226559c9cab5",
      "name": "⚡ Is ERROR or FATAL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1056,
        416
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-fatal",
              "leftValue": "={{ $json.level }}",
              "rightValue": "FATAL",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "564e333f-0d91-4de3-b62c-98791142520c",
      "name": "🔥 Is FATAL?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -832,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "app_logs",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "level": "={{ $json.level }}",
            "message": "={{ $json.message }}",
            "source": "={{ $json.source }}",
            "workflow_id": "={{ $json.workflow_id }}",
            "workflow_name": "={{ $json.workflow_name }}",
            "execution_id": "={{ $json.execution_id }}",
            "metadata": "={{ $json.metadata }}",
            "error_code": "={{ $json.error_code }}",
            "error_stack": "={{ $json.error_stack }}",
            "request_id": "={{ $json.request_id }}",
            "user_id": "={{ $json.user_id }}",
            "ip_address": "={{ $json.ip_address }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_name",
              "displayName": "workflow_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_code",
              "displayName": "error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_stack",
              "displayName": "error_stack",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ip_address",
              "displayName": "ip_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ffbc29dd-a6be-4e38-b29b-2877787575e4",
      "name": "💾 Insert to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -384,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "WWSlgNwWnnhIhoMv",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// ── Build Slack / Email alert for FATAL logs ────────────────\nconst log = $input.first().json;\n\nconst alertPayload = {\n  title:    '🚨 FATAL LOG ALERT',\n  text:     `*${log.source}* reported a FATAL error`,\n  fields: [\n    { label: 'Message',    value: log.message },\n    { label: 'Workflow',   value: log.workflow_name ?? 'N/A' },\n    { label: 'Execution',  value: log.execution_id  ?? 'N/A' },\n    { label: 'Error Code', value: log.error_code    ?? 'N/A' },\n    { label: 'User',       value: log.user_id       ?? 'N/A' },\n    { label: 'Stack',      value: (log.error_stack ?? '').substring(0, 500) }\n  ],\n  timestamp: new Date().toISOString()\n};\n\nreturn [{\n  json: {\n    ...log,\n    alert_payload: alertPayload\n  }\n}];"
      },
      "id": "10ab2d3a-4169-4969-84f3-e9283e14bbd8",
      "name": "📣 Build Alert Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        -16
      ],
      "onError": "continueErrorOutput",
      "notes": "Runs only for FATAL level. Extend this node to call Slack, PagerDuty, email etc."
    },
    {
      "parameters": {
        "jsCode": "// Return success payload to the parent workflow\nconst inserted = $input.first().json;\n\nreturn [{\n  json: {\n    success: true,\n    log_id: inserted.id,\n    level: inserted.level,\n    saved_at: inserted.created_at\n  }\n}];"
      },
      "id": "8a91f6cf-fa79-4383-b57c-0e0310f08b76",
      "name": "✅ Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -112
      ]
    },
    {
      "parameters": {
        "jsCode": "// ── Global error handler for workflow error output ───────────\nconst payload = $input.first().json ?? {};\nconst nestedError = payload.error ?? payload.execution?.error ?? null;\n\nconst errorMessage =\n  nestedError?.message\n  ?? payload.message\n  ?? (typeof nestedError === 'string' ? nestedError : null)\n  ?? 'Unknown error occurred';\n\nconsole.error('[Logger Workflow Error]', errorMessage);\n\nreturn [{\n  json: {\n    success: false,\n    error: errorMessage,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "30129905-7dde-4206-b909-cd2e566c17b4",
      "name": "❌ Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        256
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return standardized error payload to the parent workflow\nreturn [{ json: $input.first().json }];"
      },
      "id": "b8897429-e22c-4679-b2b3-d144c8455742",
      "name": "❌ Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        256
      ]
    }
  ],
  "pinData": {
    "🧩 Triggered by Workflow": [
      {
        "json": {
          "level": "ERROR",
          "message": "Payment service timed out",
          "source": "checkout-service",
          "user_id": "usr_123",
          "error_code": "PAYMENT_TIMEOUT",
          "error_stack": "Error: Timeout\\n  at PaymentService.charge ...",
          "metadata": {
            "order_id": "ord_456",
            "amount": 99.99
          }
        }
      }
    ]
  },
  "connections": {
    "🔍 Validate & Normalize": {
      "main": [
        [
          {
            "node": "⚡ Is ERROR or FATAL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "⚡ Is ERROR or FATAL?": {
      "main": [
        [
          {
            "node": "🔥 Is FATAL?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Insert to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔥 Is FATAL?": {
      "main": [
        [
          {
            "node": "📣 Build Alert Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "💾 Insert to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📣 Build Alert Payload": {
      "main": [
        [
          {
            "node": "💾 Insert to DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Insert to DB": {
      "main": [
        [
          {
            "node": "✅ Return Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "❌ Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌ Error Handler": {
      "main": [
        [
          {
            "node": "❌ Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧩 Triggered by Workflow": {
      "main": [
        [
          {
            "node": "🔍 Validate & Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ba43a5fe-098c-4d11-b5a6-630ece487233",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f94ee6675052c2b68be0785e7c4c1b60b0426d14c775c213c4e38fd0abd72c74"
  },
  "id": "TWOwWbOPOH6uGsLJuE-0l",
  "tags": []
}