n8n-import/workflows/subW set worker metadata.json
{
  "name": "subW set worker metadata",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"metadata\": {\n      \"id\": \"50\",\n      \"api_key\": \"sk_ca810b35516ea61d0281d9f8c03a7317d0199d8fa2b03e0e9a18eab928bb9c7f\",\n      \"is_active\": true,\n      \"worker_id\": \"test-worker-001\",\n      \"cpu_weight\": 1,\n      \"created_at\": \"2026-02-16T11:08:30.646Z\",\n      \"updated_at\": \"2026-02-16T11:32:55.586Z\",\n      \"worker_name\": \"Test WOrkflow 001\",\n      \"worker_type\": null,\n      \"current_load\": 0,\n      \"last_seen_at\": \"2026-02-16T11:32:55.586Z\",\n      \"tasks_failed\": \"0\",\n      \"memory_weight\": 1,\n      \"worker_timeout\": \"10 minutes\",\n      \"max_retry_delay\": \"1 hour\",\n      \"specializations\": [],\n      \"tasks_completed\": \"0\",\n      \"cleanup_retention\": \"30 days\",\n      \"subscribed_queues\": [\n        \"test_short\",\n        \"default\"\n      ],\n      \"heartbeat_interval\": {\n        \"minutes\": 1\n      },\n      \"rate_limit_dequeue\": 1000,\n      \"rate_limit_enqueue\": 1000,\n      \"max_concurrent_tasks\": 10,\n      \"metadata_max_size_kb\": 100,\n      \"max_task_data_size_kb\": 100,\n      \"total_processing_time\": null,\n      \"default_lease_duration\": \"5 minutes\",\n      \"enable_queue_isolation\": true,\n      \"metadata_default_merge\": \"deep\",\n      \"expected_next_heartbeat\": \"2026-02-16T11:33:55.586Z\",\n      \"metadata_retention_days\": 90,\n      \"metadata_history_enabled\": true,\n      \"worker_gracefull_shutdown\": true,\n      \"max_concurrent_tasks_per_worker\": 10\n    }\n  }\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        -208
      ],
      "id": "6eb46b26-4f57-4d2c-801a-3575901c4cd3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT patch_worker_metadata(\n  '{{ $json.metadata.api_key }}',  -- api_key is passed as is\n  '{{ JSON.stringify((({  api_key,...rest }) => rest)($json.metadata)) }}'::jsonb\n) AS metadata;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        -112
      ],
      "id": "75fb6d82-8acf-41cb-9ee6-1e8674163760",
      "name": "patch metadata",
      "credentials": {
        "postgres": {
          "id": "WWSlgNwWnnhIhoMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"api_key\": {{   $json.out_variable_value[0]  }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        -304
      ],
      "id": "c14dfd50-b4a9-426f-b529-4677dd44785e",
      "name": "set api_key"
    },
    {
      "parameters": {
        "jsCode": "// Access the 'metadata' property from the current item\nconst metadata = $input.last().json.metadata;  // Accessing the 'metadata' from the first item\nconsole.log(metadata);\n// Check if 'metadata' exists, otherwise return an error\nif (metadata) {\n  return [{ json: metadata  }];\n} else {\n  throw new Error('Metadata is undefined or missing.');\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -112
      ],
      "id": "414d1e69-a617-4711-b0c6-f9c5c0571f2a",
      "name": "extract metadata"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        -208
      ],
      "id": "7168ae84-0726-4c95-8393-8ca46a082ce6",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "947b0cdd-12bd-42f9-8456-0f650bd27f70",
              "name": "metadata",
              "value": "={{ $json.metadata }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -112
      ],
      "id": "8fa8f309-d4d8-4830-89d7-32d251dbdbbc",
      "name": "data"
    },
    {
      "parameters": {
        "jsCode": "const data = $('data').all();\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -112
      ],
      "id": "79418168-4eed-46f4-b893-f0238bf3b918",
      "name": "loading data"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM set_runtime_variable(\n  '{{ $json.metadata.worker_id }}',\n  'api_key'::VARCHAR,\n  '[\"{{ $json.metadata.api_key }}\"]'::JSONB,\n  '{{ $json.metadata.worker_id }}'::VARCHAR,\n  'Worker API key'::TEXT,\n  FALSE,\n  NULL::TIMESTAMPTZ\n);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        -304
      ],
      "id": "2f82f71d-71b3-4495-9ab6-93c3433cf6c3",
      "name": "set api var",
      "credentials": {
        "postgres": {
          "id": "WWSlgNwWnnhIhoMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT delete_worker_metadata('{{ $json.metadata.api_key }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        -112
      ],
      "id": "8e2aa888-002b-438c-acbf-219b7e3855fa",
      "name": "delete meta",
      "credentials": {
        "postgres": {
          "id": "WWSlgNwWnnhIhoMv",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "df2CmoxWTZFsHblh",
          "mode": "list",
          "cachedResultUrl": "/workflow/df2CmoxWTZFsHblh",
          "cachedResultName": "subW Metadata Formatter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1552,
        -208
      ],
      "id": "e78f0c68-e284-4a9c-b84a-562d933317b7",
      "name": "Call 'subW Metadata Formatter'"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "metadata": {
            "id": "50",
            "api_key": "sk_ca810b35516ea61d0281d9f8c03a7317d0199d8fa2b03e0e9a18eab928bb9c7f",
            "is_active": true,
            "worker_id": "test-worker-001",
            "cpu_weight": 1,
            "created_at": "2026-02-16T11:08:30.646Z",
            "updated_at": "2026-02-16T11:32:55.586Z",
            "worker_name": "Test WOrkflow 001",
            "worker_type": null,
            "current_load": 0,
            "last_seen_at": "2026-02-16T11:32:55.586Z",
            "tasks_failed": "0",
            "memory_weight": 1,
            "worker_timeout": "10 minutes",
            "max_retry_delay": "1 hour",
            "specializations": [],
            "tasks_completed": "0",
            "cleanup_retention": "30 days",
            "subscribed_queues": [
              "test_short",
              "default"
            ],
            "heartbeat_interval": {
              "minutes": 1
            },
            "rate_limit_dequeue": 1000,
            "rate_limit_enqueue": 1000,
            "max_concurrent_tasks": 10,
            "metadata_max_size_kb": 100,
            "max_task_data_size_kb": 100,
            "total_processing_time": null,
            "default_lease_duration": "5 minutes",
            "enable_queue_isolation": true,
            "metadata_default_merge": "deep",
            "expected_next_heartbeat": "2026-02-16T11:33:55.586Z",
            "metadata_retention_days": 90,
            "metadata_history_enabled": true,
            "worker_gracefull_shutdown": true,
            "max_concurrent_tasks_per_worker": 10
          }
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "set api var",
            "type": "main",
            "index": 0
          },
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "patch metadata": {
      "main": [
        [
          {
            "node": "extract metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract metadata": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "set api_key": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data": {
      "main": [
        [
          {
            "node": "delete meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loading data": {
      "main": [
        [
          {
            "node": "patch metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call 'subW Metadata Formatter'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set api var": {
      "main": [
        [
          {
            "node": "set api_key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete meta": {
      "main": [
        [
          {
            "node": "loading data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "191eb56c-d506-44f0-96b6-b7ba8903eb39",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f94ee6675052c2b68be0785e7c4c1b60b0426d14c775c213c4e38fd0abd72c74"
  },
  "id": "2ypbt4vHErHfRNCgt6TEp",
  "tags": []
}